[Unit]
Description=Service for xkeysnail

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/xkeysnail /etc/xkeysnail/config.py
StandardOutput=null
Restart=always
Type=simple
RestartSec=10

[Install]
WantedBy=graphical.target
