tags*
*.zwc

software/

!**/neovim/files/doc/tags
**/neovim/files/.netrwhist
**/neovim/files/plugin/packer_compiled.lua

**/vifm/**/vifm-help.txt
**/vifm/**/vifminfo.json

__pycache__/
# **/ranger/**/__init__.py
**/ranger/files/colorschemes/__init__.py
**/ranger/files/plugins/__init__.py
**/ranger/files/plugins/ranger-zoxide
