{{- if .is_fedora -}}
#!/bin/env bash

# Enable RPM Fusion repositories
sudo dnf -y install https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm
sudo dnf -y install https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm

packages=(
    curl
    zsh
    fish
    stow
    plocate
    cronie # for cron
    cronie-anacron
    bfs
    chezmoi
    git-delta
    fd-find
    kanata
    pandoc
    zoxide
    wl-clipboard
    gnome-tweaks # GNOME
    dconf-editor # GNOME
    # xkb-switch -- removed in Fedora 43 together with X-server support
    g3kb-switch # GNOME extension for xkb-switch
    # qview
    qimgv # image viewer
    vlc   # video player
    openh264 # for twitch
    ImageMagick ImageMagick-devel
    w3m # text web browser for Emacs Notmuch
)

sudo dnf update -y
sudo dnf install -y "${packages[@]}"

# Multimedia libraries and codecs
sudo dnf group install -y Multimedia

# Update the plocate database
sudo updatedb

{{- end -}}
