{{- if (and .is_fedora (not (lookPath "nix"))) -}}
#!/usr/bin/sh

# Get sudo rights here, to not request them further.
sudo true

curl --proto '=https' --tlsv1.2 -sSf -L https://install.determinate.systems/nix | \
  sh -s -- install

nix-channel --add https://github.com/nix-community/home-manager/archive/master.tar.gz home-manager
nix-channel --update
nix-shell '<home-manager>' -A install

{{- end }}
