[mgr]
prepend_keymap = [
    { on = [ "q" ], run = "close", desc = "Close the current tab, or quit if it is last one" },
    { on = [ "Q" ], run = "quit",  desc = "Exit" },

    # Selection
    { on = [ "m" ], run = [ "select --state=none", "arrow 1" ], desc = "Toggle the current selection state" },
    { on = [ "u" ], run = "unyank",                             desc = "Cancel the yank or cut status of files" },

    # File info
    { on = [ "i", "s" ], run = "linemode size",        desc = "Set linemode to size" },
    { on = [ "i", "p" ], run = "linemode permissions", desc = "Set linemode to permissions" },
    { on = [ "i", "m" ], run = "linemode mtime",       desc = "Set linemode to mtime" },
    { on = [ "i", "n" ], run = "linemode none",        desc = "Set linemode to none" },
]
